<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BeautyMinder: Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    </style>
    <script>
        function validateAndSubmit() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (password !== confirmPassword) {
                alert('Passwords do not match!');
                return false;
            }
            // If passwords match, submit the form
            document.getElementById('resetPasswordForm').submit();
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 logo">
            <img alt="BeautyMinder Logo" src="img/logo.png" style="max-width: 250px; max-height: 250px;"
                 th:src="@{/img/logo.png}"/>
        </div>
        <div class="col-12 text-center mb-4">
            <h1>BeautyMinder</h1>
        </div>
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Reset Your Password</h3>

            <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
                Your token has expired or gone!
            </div>

            <div class="alert alert-info" role="alert" th:unless="${error}">
                <strong>Email:</strong> <span th:text="${email}"></span>
            </div>
            <form action="/user/reset-password" id="resetPasswordForm" method="POST" th:unless="${error}">
                <input name="token" th:value="${token}" type="hidden"/>
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input class="form-control" id="password" name="password" required type="password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password:</label>
                    <input class="form-control" id="confirmPassword" required type="password">
                </div>
                <button class="btn btn-primary" onclick="validateAndSubmit()" type="button">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>