<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BeautyMinder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table style="background-color: #f3f3f3; color: #333; font-size: 16px; text-align: center; margin: 0; padding: 0;" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table style="margin: 40px auto; border-collapse: separate;" width="600" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="padding-bottom: 20px;" align="center">
                        <h1 style="color: #e5b000;">비밀번호 초기화</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px;" align="center">
                        <p>아래의 링크를 접속하여 비밀번호를 초기화 하세요.</p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div style="background-color: #fff; border: 2px dashed #e5b000; padding: 10px 20px; margin-top: 20px; font-size: 20px; font-weight: bold; letter-spacing: 2px;">
                            <a target="_blank" th:href="${link}">[Link]</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
